/* Fonts */

* {
  font-family: "MuseoModerno";
}
/*Splashscreen*/
.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/bg.jpg");
  background-position: center;
  background-size: cover;
  height: 100dvh;
}
.splash-screen h2 {
  color: white;
  font-size: 36px;
}
/*HomePage*/
.pozadina {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/bgstd.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: auto;
  margin: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
input {
  font-size: 1.2rem;
  padding-left: 10px;
  margin-left: 20px;
}
label {
  font-size: 1.2rem;
}
.uputstvo {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 70%;
  height: 50%;
  font-size: 1rem;
}
.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}
.startButton {
  background-color: green;
}
.startButton,
.tabelaButton {
  padding: 15px;
  width: 60%;
  border-radius: 5%;
}
.startButton:hover,
.tabelaButton:hover {
  cursor: pointer;
}
.startButton:hover {
  background-color: rgb(0, 58, 0);
}
.tabelaButton:hover {
  background-color: rgb(0, 2, 27);
}
.tabelaButton {
  background-color: rgb(0, 4, 58);
}
/* Quiz part */
.quiz {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/pozadinakviz.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */

  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-container img {
  width: 150px;
  height: 200px;
}

.question {
  font-size: 20px;
  text-align: center;
  padding: 3px;
}
.answer-item {
  border: 2px solid rgb(71, 71, 71);
}
.answers {
  text-align: center;
  list-style: none;
  font-size: 30px;
  line-height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 50%;
  padding: 0;
}
.selected-answer {
  background-color: white;
  color: black;
}
.answers:hover {
  cursor: pointer;
}
.active-question-no {
  color: white;
}
.total-question {
  color: gray;
}
.questionsGroup {
  text-align: center;
  font-size: 36px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 50%;
}
button {
  width: 150px;
  height: 60px;
  font-size: 20px;
  background-color: rgb(0, 58, 0);
  border-color: rgb(0, 58, 0);
  color: white;
}
button:hover {
  background-color: rgb(0, 95, 0);
  cursor: pointer;
}
/* Result section */
.result {
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  font-size: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rezultatButton:hover {
  background-color: rgb(0, 2, 27);
}
.rezultatButton {
  background-color: rgb(0, 4, 58);
  padding: 15px;
  width: 250px;
  font-size: 20px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
}
.homeButton:hover {
  background-color: rgb(0, 58, 0);
}
.homeButton {
  background-color: rgb(0, 95, 0);
  padding: 15px;
  width: 250px;
  font-size: 20px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
/*Rezultati*/
.leaderboard {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/stadion.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  padding-top: 10%;
}
.rezultat {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  width: 800px;
  height: 500px;
  margin: 0 auto;
  font-size: 30px;
}
.rezultatLista {
  line-height: 200%;
}
.dugmeTabela {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.dugmeTabela > .homeButton {
  margin: 0;
}
/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  /*question*/
  .uputstvo {
    font-size: 10px;
  }
  label,
  input {
    font-size: 12px;
  }
  .startButton,
  .tabelaButton {
    font-size: 10px;
    padding: 9px;
    width: 80px;
  }
  .question {
    font-size: 15px;
  }
  .answers {
    font-size: 20px;
    width: 50%;
    line-height: 80px;
  }
  .questionsGroup {
    font-size: 30px;
    margin-top: 30px;
  }
  button {
    width: 100px;
    height: 40px;
    font-size: 15px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .uputstvo {
    font-size: 9px;
  }
  .uputstvo-naslov {
    font-size: 13px;
    padding: 0;
    margin: 0;
  }
  label,
  input {
    font-size: 10px;
  }
  .startButton,
  .tabelaButton {
    font-size: 9px;
    padding: 6px;
    width: 80px;
  }
  /* Quiz part */
  .question {
    font-size: 15px;
  }
  .answers {
    font-size: 20px;
    width: 50%;
    line-height: 80px;
  }
  .questionsGroup {
    font-size: 30px;
    margin-top: 30px;
  }
  button {
    width: 100px;
    height: 40px;
    font-size: 15px;
  }
  /*Tabela*/
  .rezultat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    height: 70%;
    margin-top: 40%;
    font-size: 18px;
  }
  .rezultatLista {
    line-height: 200%;
  }
  .dugmeTabela {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0;
  }
  .dugmeTabela > .homeButton {
    margin: 0;
  }

  .rezultatButton {
    background-color: rgb(0, 4, 58);
    padding: 12px;
    width: 140px;
    font-size: 14px;
    border-radius: 5%;
  }

  .homeButton {
    background-color: rgb(0, 95, 0);
    padding: 12px;
    width: 140px;
    font-size: 14px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 480px) {
  .splash-screen h2 {
    color: white;
    font-size: 18px;
  }
  .uputstvo {
    font-size: 9px;
  }
  .uputstvo-naslov {
    font-size: 13px;
    padding: 0;
    margin: 0;
  }
  label,
  input {
    font-size: 10px;
  }
  .startButton,
  .tabelaButton {
    font-size: 9px;
    padding: 6px;
    width: 80px;
  }
  /*Quiz*/
  .question {
    font-size: 15px;
  }
  .answers {
    font-size: 15px;
    width: 50%;
    line-height: 60px;
  }
  .questionsGroup {
    font-size: 25px;
    margin-top: 40%;
  }
  button {
    width: 100px;
    height: 40px;
    font-size: 15px;
  }
  /*Result*/
  .result {
    margin-top: 40%;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 15px;
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rezultatButton {
    background-color: rgb(0, 4, 58);
    padding: 10px;
    width: 120px;
    font-size: 12px;
    border-radius: 5%;
  }

  .homeButton {
    background-color: rgb(0, 95, 0);
    padding: 10px;
    width: 120px;
    font-size: 12px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  /*Tabela*/
  .rezultat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    height: 70%;
    margin-top: 40%;
    font-size: 18px;
  }
  .rezultatLista {
    line-height: 200%;
  }
  .dugmeTabela {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0;
  }
  .dugmeTabela > .homeButton {
    margin: 0;
  }
}

/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */
}

/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation: landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation: portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation: landscape) {
}
